body {
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.common {
    border: 2px none;
}

.header {
    top: 5px;
    width: 100%;
    left: 0;
    height: 100px;
    z-index: 2;
    border-bottom: solid 2px #ffffff;

}

.mainbody {
    top: 114px;
    margin-left: 10%;
    margin-right: 10%;
    bottom: 39px;
    padding-bottom: 10%;
}

.footer {
    width: 100%;
    left: 0;
    height: 25px;
    bottom: 5px;
    font-size: 8px;
    color: #999999;
    position: fixed;
    text-align: center;
}